<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.satochip.satodimeapp">
    
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-feature
            android:name="android.hardware.nfc"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.nfc.hce"
            android:required="false" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="org.satochip.satodimeapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- DEBUG 
        <activity android:label="@string/show_details_activity" android:name="org.satochip.satodimeapp.ShowDetailsActivity"/>
        <activity android:label="@string/show_auth_details_activity" android:name="org.satochip.satodimeapp.ShowAuthDetailsActivity"/>
        <activity android:label="@string/seal_keyslot_activity" android:name="org.satochip.satodimeapp.SealKeyslotActivity"/>
        <activity android:label="@string/seal_keyslot_activity" android:name="org.satochip.satodimeapp.SealKeyslotFormActivity"/>
        ENDBUG-->
        
    </application>

</manifest>